<%- include('partials/header'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="title">Title</label><br>
        <input class="form-control" type="text" name="postTitle"><br>
        <label for="content">Post</label><br>
        <textarea class="form-control" name="postBody" cols="40" rows="5"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Publish">
</form>
<%- include('partials/footer'); -%>